@{
    ViewData["Title"] = "Home Page";
}

<div class="text-lg-start">
    <h1 class="display-4">Xush kelibsiz!</h1>
    <div class="intro">
        <img class="intro-img" src="~/images/doc1.jpg" />
        <img class="intro-img1" src="~/images/rasm1.jpg" />
        <div class="intro-text">
                <p>
                    Ushbu sayt Muallifning, asosan, yurisprudensiya sohasidagi fikrlari, mualliflik asarlari va topilmalari, shuningdek jamiyatdagi muhim masalalar yuzasidan yondashuvlarini ulashish uchun tashkil etilgan. Bunda saytdagi ma'lumotlar yurisprudensiyaning quyidagi sohalari:
                </p>
                <p>
                - Fuqarolik huquqining umumiy qoidalari;
                </p>
                <p>
                - Korporativ huquq;
                </p>
                <p>
                - Shartnoma huquqi;
                </p>
                <p>
                - Intellektual mulk huquqi;
                </p>
                <p>
                - Shartnomadan tashqari asoslardan vujudga keladigan majburiyatlar;
                </p>
                <p>
                - Vorislik huquqi;
                </p>
                <p>
                - Oila huquqi kabilarga ixtisoslashadi.
                </p>
        </div>
    </div>
</div>
