@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Qulay Shartnomalar.</h1>
    <div>
        <img class="flex-grow-0" src="~/images/doc1.jpg" />
        <p class="flex-grow-1">
            Bugungi kunga kelib esa ijara munosabatlarining huquqiy tartibga solinishi va uning  qurilishi (kontruksiyasi) taraflarning bir-biriga nisbatan o’zaro huquq va majburiyatlarni qonunchilikda belgilash ko’rinishida namoyon bo’ladi, jumladan, FKning  535-moddasi birinchi qismida ijara shartnomasi haq evaziga va vaqtincha boshqa shaxsga tegishli bo’lgan mol-mulkka nisbatan mulk huquqining u yoki bu elementlarini berib turish sifatida ifodalanadi. Bunda ijaraga beruvchi (mol-mulkning mulkdori yoki uning vakili) mol-mulkka nisbatan egalik qilish va undan foydalanish huquqini vaqtincha ijaraga oluvchiga topshiradi. Ayni paytda qonunchilik mol-mulkni faqat foydalanishga topshirish mumkinligini ham nazarda tutadi. Odatda egalik qilish shaxsning mol-mulkka nisbatan to’la xo’jalik hukmronligini anglatadi. Ijara asosida to’la xo’jalik hukmronligining mulkdordan boshqa shaxsga o’tkazilishi esa shartli asos sifatda ko’riladi. Ya’ni buning sharti ijaraga oluvchining  mol-mulkdan tayinlash maqsadi va shartnomada nazarda tutilgan qoidalarga ko’ra foydalanishini anglatadi. Masalan, ijara shartnomasi asosida uy-joyni ijaraga olgan shaxs undan turmush qoidalari va shartnoma shartlariga ko’ra faqat yashash uchun foydalanishi lozim bo’ladi. Bundan farqli ravishda mulkdorning o’z mulkiga nisbatan to’la xo’jalik hukmronligi cheklanmagan va qonunchilikka zid bo’lmagan tarzda amal qiladi. Foydalanish elementi esa mol-mulkning foydali xususiyatlarini o’zlashtirish maqsadida uni ekspluatatsiya qilinishini anglatadi. Bunda ekspluatatsiya, qoida tariqasida, mol-mulkning tabiiy tayinlanish maqsadlariga mos kelishi lozim. Masalan, yengil avtomobilda odatda yo’lovchilar harakatlanishi va qo’l yuki olib yurilishi mumkin. Yengil avtomobilni yuk tashuvchi avtomobilga aylantirish uning  tabiiy tayinlanish naqsadlariga zid hisoblanadi.
        </p>
    </div>
</div>
