@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="maqola">

    <div class="maqola-owner">
        <h5 >
            Ibrohimov Azimjon Abdumo‘min o‘g‘li,<br />
            TDYU Fuqarolik huquqi kafedrasi o’qituvchisi.
        </h5>
        <p><i>E-mail:</i> <a href="#">yurist_0990@mail.ru</a></p>
    </div><br /><br />
    <h3 class="maqola-title">Ijara shartnomasi obyekti </h3>
    <img class="maqola-img" src="~/images/rasm.jpg" />
    <div class="maqola-text">
        <div>
            <p>
                Ijara asosida mol-mulk egalik qilish va foydalanish huquqi asosida boshqa shaxga vaqtincha beriladi va shu yo’l bilan ijtimoiy-iqtisodiy munosabatlar zanjirida o’ziga xos o’rin egallaydi. Bunday o’ziga xoslik ijaraga beruvchining bo’sh turgan mol-mulkidan foyda olishi, ijara oluvchining esa shaxsiy ehtiyojini qondirish yoki tadbirkorlik faoliyatidan foyda ko’rish shaklida namoyon bo’ladi. Ijara shartnomasi fuqarolik-huquqiy shartnomalar tizimida mol-mulkni muomalaga kiritishning  alohida ko’rinishi sanaladi. Bunda mol-mulk mulkdor begonalashtirilmagan holda muomala obyektiga aylanadi.
            </p>
            <p>
                <i>Kalit so’zlar:</i> ijara shartnomasi, vaqtincha egalik qilish va foydalanish, ijara shartnomasi obyekti, iste’mol qilinmaydigan ashyolar, xususiy alomatlari bilan belgilanadigan ashyolar.
            </p>
            <p>
                Ijara munosabatlari kishilar o’rtasidagi madaniy munosabatlar shakllangan ilk davrlardan boshlab amal qilib keladi. O’sha davrlarda o’zgaga tegishli bo’lgan mulkdan vaqtincha foydalanish va buning uchun muayyan haqni to’lash, dastlab, ish qurollari va mehnat vositalariga nisbatan qo’llanilgan. Ijtimoiy munosabatlarning keyingi rivoji jarayonida esa boshqa shaxsga tegishli mol-mulkdan haq evaziga vaqtincha foydalanish bino-inshootlar, sanoat qurollari va tabiiy resurslarga nisbatan ham qo’llanila boshladi. Ijarachilik o’z navbatida boshqa shaxsga tegishli bo’lgan yer uchastkasida hosilning muayyan qismini haq sifatida berish ko’rinishida ham namoyon bo’lgan.
            </p>
            <p>
                Bugungi kunga kelib esa ijara munosabatlarining huquqiy tartibga solinishi va uning  qurilishi (kontruksiyasi) taraflarning bir-biriga nisbatan o’zaro huquq va majburiyatlarni qonunchilikda belgilash ko’rinishida namoyon bo’ladi, jumladan, FKning  535-moddasi birinchi qismida ijara shartnomasi haq evaziga va vaqtincha boshqa shaxsga tegishli bo’lgan mol-mulkka nisbatan mulk huquqining u yoki bu elementlarini berib turish sifatida ifodalanadi. Bunda ijaraga beruvchi (mol-mulkning mulkdori yoki uning vakili) mol-mulkka nisbatan egalik qilish va undan foydalanish huquqini vaqtincha ijaraga oluvchiga topshiradi. Ayni paytda qonunchilik mol-mulkni faqat foydalanishga topshirish mumkinligini ham nazarda tutadi. Odatda egalik qilish shaxsning mol-mulkka nisbatan to’la xo’jalik hukmronligini anglatadi. Ijara asosida to’la xo’jalik hukmronligining mulkdordan boshqa shaxsga o’tkazilishi esa shartli asos sifatda ko’riladi. Ya’ni buning sharti ijaraga oluvchining  mol-mulkdan tayinlash maqsadi va shartnomada nazarda tutilgan qoidalarga ko’ra foydalanishini anglatadi. Masalan, ijara shartnomasi asosida uy-joyni ijaraga olgan shaxs undan turmush qoidalari va shartnoma shartlariga ko’ra faqat yashash uchun foydalanishi lozim bo’ladi. Bundan farqli ravishda mulkdorning o’z mulkiga nisbatan to’la xo’jalik hukmronligi cheklanmagan va qonunchilikka zid bo’lmagan tarzda amal qiladi. Foydalanish elementi esa mol-mulkning foydali xususiyatlarini o’zlashtirish maqsadida uni ekspluatatsiya qilinishini anglatadi. Bunda ekspluatatsiya, qoida tariqasida, mol-mulkning tabiiy tayinlanish maqsadlariga mos kelishi lozim. Masalan, yengil avtomobilda odatda yo’lovchilar harakatlanishi va qo’l yuki olib yurilishi mumkin. Yengil avtomobilni yuk tashuvchi avtomobilga aylantirish uning  tabiiy tayinlanish naqsadlariga zid hisoblanadi.
            </p>
            <p>
                Ijara munosabatlarining o’ziga xos xususiyatlari hisobga olingan holda ijara obyektiga muayyan talablar belgilanadi. Ijara shartnomasining konstruksiyasiga ko’ra vaqtincha egalik qilish va foydalanishga topshirilgan ashyo muayyan vaqt o’tganidan so’ng ijaraga beruvchiga qaytarilishi lozim. Shu asosda ijara obyekti xususiy alomatlari bilan belgilanadigan iste’mol qilinmaydigan ashyo bo’lishi kerakligiga oid qoida nazarda tutilgan. Agar ijaraga berilgan ashyo turga xos alomatlari bilan belgilanib boshqa shaxsga topshirilsa, aynan berilgan ashyoni qaytarish imkoniyati bo’lmaydi, bunda belgilangan muddat o’tganidan so’ng tegishli turdagi, xuddi shu sifat va miqdordagi ashyoni qaytarishga to’g’ri kelib bu masala ijara shartnomasi bilan emas, balki qarz shartnomasi bilan tartibga solinadi.
            </p>
            <p>
                O’zR FKning 89-moddasiga ko’ra bir karra foydalanish natijasida yo‘qolib ketadigan yoki dastlabki holatida mavjud bo‘lmay qoladigan ashyolar (xomashyo, yoqilg‘i, oziq-ovqat mahsulotlari va shu kabilar) iste’mol qilinadigan ashyolar hisoblanadi. Iste’mol qilinmaydigan ashyolar esa qayta-qayta foydalanishga mo‘ljallangan, bunda o‘zining dastlabki holatini uzoq vaqt davomida saqlab qoladigan hamda asta-sekin yemirilib boradigan ashyolar (binolar, uskunalar, transport vositalari) hisoblanadi. Ijara shartnomasi obyektining iste’mol qilinmaydigan ashyo bo’lishiga oid qoida ham ijara obyektidan muayyan vaqt davomida foydalana olish hamda qaytarish zaruriyati tufayli o’rnatilgan.
            </p>
            <p>
                Iste’mol qilinmaydigan ashyolar ham o’z navbatida ko’char va ko’chmas ashyolarga bo’linishi mumkin. Ko‘chmas mulk jumlasiga yer uchastkalari, yer osti boyliklari, binolar, inshootlar, ko‘p yillik dov-daraxtlar va yer bilan uzviy bog‘langan boshqa mol-mulk, ya’ni belgilangan maqsadiga nomutanosib zarar yetkazmagan holda joyini o‘zgartirish mumkin bo‘lmaydigan obyektlar kiradi. Qonunda boshqa mol-mulk ham ko‘chmas mol-mulk qatoriga kiritilishi mumkin. Ko‘chmas mulk jumlasiga kirmaydigan mol-mulk ko‘char mulk hisoblanadi. Ko‘char mulkka bo‘lgan huquqlarni ro‘yxatdan o‘tkazish talab etilmaydi, qonunda nazarda tutilgan hollar bundan mustasno.
            </p>
            <p>
                Shu tarzda ijara shartnomasi obyektlari a) iste’mol qilinmaydigan; b) xususiy alomatlari bilan belgilanadigan ashyolar hisoblanib, quyidagilar ijaraga berilishi mumkin:
                <ul>
                    <li>yer uchastkalari;</li>
                    <li>alohida tabiiy obyektlar (yer osti boyliklari, suv havzalari va h.k.);</li>
                    <li>korxona va boshqa mulkiy komplekslar;</li>
                    <li>turar va noturar joy binolari, inshoot va imoratlar;</li>
                    <li>uskunalar;</li>
                    <li>transport vositalari;</li>
                    <li>inventar, jihozlar, instrumentlar va boshqa individuallashtirilgan, ko’p marta foydalanish imkoni mavjud bo’lgan ashyolar.</li>
                </ul>
            </p>
            <p>
                Bir qator holatlarda qonun chiqaruvchi tomonidan ijaraga berilishi mumkin bo’lgan obyektlarga nisbatan boshqa talablar ham nazarda tutilishi mumkin. Masalan, prokat shartnomasiga asosan ijaraga oluvchiga faqat ko’char ashyolar foydalanish uchun berilishi mumkin (FK 558-m.). Ko’chmas mulk obyektlari prokat predmeti bo’la olmaydi.
            </p>
            <p>
                Shuningdek ijara shartnomasi tuzilayotgan payt taraflar vaqtincha egalik qilish va foydalanishga berilayotgan ashyoni aniq ko’rsatish imkonini beradigan belgilarni qayd etishlari lozim. Ijaraga berilayotgan ashyoning shu turdagi boshqa ashyolardan farqlab ko’rsatuvchi belgilarni qayd etmaslik ijara shartnomasining tuzilmagan deb topishga olib kelishi mumkin. Bunday holatda taraflar o’rtasidagi munosabatlar tegishlicha qarz shartnomasi yoki asossiz boylik orttirish qoidalari bilan bog’liq bo’lishi mumkin. Ijara shartnomasining alohida turlari uchun esa ijara obyektiga qo’chimcha talablar belgilanishi mumkin (masalan, prokat).
            </p>
            <h3 class="maqola-title">Foydalanilgan adabiyotlar: </h3>
            <p>
                1.Tojiboyev, S. Z. (2022, August). THE PROSPECT OF TOBACCO CONTROL REGIME IN UZBEKISTAN IN LIGHT OF POTENTIAL DISPUTE UNDER THE UK-UZBEKISTAN BIT. In INTERNATIONAL CONFERENCES (Vol. 1, No. 7, pp. 46-51).<br />
                2.Иброҳимов, А. А. Ў. (2021). КОРПОРАЦИЯНИ БОШҚАРИШДА ФИДУЦИАР МАЖБУРИЯТЛАР ВА УЛАРНИ ЎЗБЕКИСТОНДА ҚЎЛЛАШ ИМКОНИЯТЛАРИ. Oriental renaissance: Innovative, educational, natural and social sciences, 1(10), 841-853.<br />
                3.Zafarovich, T. S. (2022). Different Approaches in Enforcement of Arbitral Award Annulled at the Place of Arbitration. Miasto Przyszłości, 25, 320-323.<br />
                4.Ibrohimov, A. A. M. O. G. L., & Nechaeva, E. V. (2022). XALQARO INVESTITSIYA HUQUQIDA MILLIY REJIM VA ENG QULAY SHARTLAR REJIMI. Oriental renaissance: Innovative, educational, natural and social sciences, 2(2), 414-425.<br />
                5.Tojiboyev, S. Z. (2022). TAXATION POLICY OF HOST STATE IN INVESTOR-STATE DISPUTE SETTLEMENT. Oriental renaissance: Innovative, educational, natural and social sciences, 2(8), 232-238.<br />
                6.Ibrohimov, A. A. O., Koryogdiyev, B. U. O., & Tojiboyev, S. Z. (2022). KORPORATIV NIQOBLARNI OLIB TASHLASH KONSEPSIYASI VA UNI O’ZBEKISTON KORPORATIV HUQUQIDA TAKOMILLASHTIRISH MASALALARI. Oriental renaissance: Innovative, educational, natural and social sciences, 2(1), 1068-1082.<br />
                7.O‘G‘Li, A. A. M. (2022). KORPORATSIYA USTAV KAPITALI FUNKSIYALARI VA UNGA OID MILLIY QONUNCHILIK NORMALARINI TAKOMILLASHTIRISH MASALALARI. Academic research in educational sciences, 3(8), 109-113.<br />
                8.Azimjon, I. (2022). ZARAR–YURIDIK SHAXS ISHTIROKCHILARI VA BOSHQARUV ORGANLARI FUQAROLIK-HUQUQIY JAVOBGARLIGINING ZARURIY SHARTI SIFATIDA.<br />
                9.Boltaev, M. S. (2021). Problems Use of Compulsory Health Insurance. International Journal of Multicultural and Multireligious Understanding, 8(10), 489-495.<br />
            </p>

        </div>
</div>

